.blog-container {
  max-width: 600px;
  margin: 40px auto 80px;
}

.date {
  display: block;
  margin-top: -10px;
}

.blog-content hr {
  border-color: white;
}

.blog-content p {
  font-size: 18px;
  line-height: 30px;
}

.blog-content ol li {
  margin-bottom: 8px;
}
