.what-section {
  padding: 95px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
}

.what-text {
  width: 30em;
}

.what-text h1 {
  font-size: 40px;
  margin-top: 22px;
  font-weight: 500;
  color: #4847ec;
}

.what-text p {
  font-size: 18px;
  line-height: 30px;
}

.phone-shell {
  width: 255px;
  height: 500px;
  box-shadow: inset 0 7px 7px #fff, inset 0 -8px 15px #ccccd870,
    0px 15px 50px 0px #ccccd8;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.phone-shell .phone-header {
  background-color: #f0f0f4;
  width: 80px;
  height: 5px;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.phone-shell img {
  width: calc(100% - 16px);
  border-radius: 3px;
}

.phone-shell .phone-footer {
  border: 1px solid #f0f0f4;
  box-shadow: inset 0 0 1px #e0e0e7, 0 0 1px #dedee6;
  width: 50px;
  height: 22px;
  border-radius: 6px;
  margin-bottom: 14px;
}

@media (max-width: 959px) {
  .what-text {
    padding: 0 15px;
  }

  .what-text h1 {
    text-align: center;
  }

  .what-section {
    width: 100vw;
  }
}
