.container {
  max-width: 600px;
  margin: 40px auto 80px;
}

.date {
  font-weight: 100;
  font-size: 16px;
}

.excerpt {
  margin-top: 5px;
  margin-bottom: 40px;
}

.postLink {
  margin-bottom: 0;
}
