.download {
  min-height: 600px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  flex-wrap: wrap;
}

.download > *:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
}

.download > *:first-child h1 {
  font-size: 40px;
  margin-top: 0;
  font-weight: bold;
}

.download > *:last-child {
  flex: 1;
  margin-left: 50px;
}

.download > *:last-child h1 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 100;
}

.download > *:last-child p,
.download > *:last-child ul {
  font-size: 18px;
}
.app-logo {
  width: 100px;
  height: 100px;
  box-shadow: #30236e66 0 0 30px 0;
  border-radius: 14px;
  margin-bottom: 30px;
}

.ios-badge {
  background: #ced4da;
  color: #fff;
  width: 178px;
  margin: 14px;
  height: 50px;
  border-radius: 6px;
  text-align: center;
  font-size: 21px;
  line-height: 50px;
}

@media (max-width: 959px) {
  .download > * {
    margin: 0 0 120px;
    min-width: 250px;
  }

  .download > *:first-child {
    align-items: center;
    margin-right: 0;
  }

  .download > *:last-child {
    padding: 0 15px;
    margin-left: 0;
  }

  .download > *:last-child h1 {
    text-align: center;
  }
}
