.cta {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: -15px;
  margin-bottom: 96px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 19%,
    #4748ec 20%,
    #4748ec 83%,
    transparent 100%
  );
}

@media (max-width: 959px) {
  .cta {
    margin-bottom: 0;
  }
}

.ctaBackground {
  background-color: #4847ec;
  transform: skewy(-3deg);
  z-index: -2;
  position: absolute;
  top: -24px;
  left: 0;
  bottom: -24px;
  right: 0;
}
